**/*.JPG
**/*.PNG
**/*.GIF
**/*.jpg
**/*.png
**/*.gif
**/*.csv
**/*.XML
**/*.osl
**/*.log
**/*.xlsx
**/*.ans
*.o
*.exe
*.keras
**/*.xlsx
./notatki.txt
.vscode
./.vscode
**/.vscode
**/*.txt
*.txt
*/vscode
*/.vscode
.vscode/
!/GUI/TESTS/*.txt
!/GUI/TESTS/*.jpg